---
import { getCollection, type CollectionEntry } from "astro:content";
import Prose from "@/components/Prose.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("docs");
  return posts.map((doc: { slug: string }) => {
    return {
      params: { slug: doc.slug },
      props: { doc },
    };
  });
}

const { doc } = Astro.props;

interface Props {
  doc: CollectionEntry<"docs">;
}

const { Content, headings } = await doc.render();
---

<BaseLayout>
  {
    headings.map((heading) => {
      return (
        <a
          href={`#${heading.slug}`}
          class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          {heading.text}
        </a>
      );
    })
  }
  <Prose>
    <Content />
  </Prose>
</BaseLayout>
