---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="bg-stone-200 dark:bg-gray-600">
    <slot />
  </body>
</html>
