---
import "../styles/global.css";
import Header from "./Header.astro";
import SideBar from "./SideBar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="bg-stone-200 dark:bg-gray-600">
    <Header />
    <SideBar />
    <slot />
  </body>
</html>
