---
import sidebar from "@/config/sidebar.json";
import SideBarMenu from "./SideBarMenu.astro";
---

<div class="fixed hidden md:block">
  <ul class="menu bg-base-200 rounded-box w-56">
    <SideBarMenu
      items={sidebar["/front-end/"].items}
      base={"/docs" + sidebar["/front-end/"].base}
    />
  </ul>
</div>
